@import "tailwindcss";
@plugin "daisyui";

body{
    background: #fff;
    color: #222;
}
a{
    border: none;
}
@media(min-width:768px) and (max-width:1200px){
    .section_px_10px{
    padding-inline: 40px;
}
}

@media(max-width:936px){
.hero-banner  .banner-img-inner{
        flex-direction: column;
    }
}
@media(max-width:767px){
    .hero-banner{
        width:100%;
        padding-inline:20px;
    }
    .hero-banner-inner{
         padding-inline:20px;
        width:100%;
    }
     .hero-banner h1 span{
        display: block;
     }
   
}

@media(max-width:530px){
    .hero-banner .input-inner{
        flex-wrap: wrap;
    }
    .hero-banner input{
        width:100%;
    }
    .banner-img-inner{
        width: 100%;
    }
}